.poem-header {
    background-color: #FECCFF;
    display: block;
    margin: 20px 5px 10px 5px;
    padding: 2px 0;
}

.poem-header__title {
    color: #FE009C;
    font-size: 3rem;
    text-align: center
    
}

.poem-body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFCD;
    margin: 30px 5px 0 5px;
    
}

.poem-body__divider {
    width: 30%;
    color: #999999;
    margin: 5px 0;
    border: none;
    border-top: 3px solid #999999;
}

.poem-body__content {
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
}

.poem-body__content--first {
    color: #0101FF;
}

.poem-body__content--second {
    color: #9B009A;
}

.poem-body__content--third {
    color: #009A00;
}
