.header {
    text-align: center;
    color: #00CC00;
}

.container {
    width: 45%;
    margin: 0 auto;
    padding: 60px 0;

}
.subject {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    line-height: 1.8;
}
.subject__name {
    font-weight: bold;
    text-decoration: underline;
}
.subject__example {
    font-style: italic;
    margin-left: 5px;
}
.subject__description {
    margin-left: 5px;
    color: #FF0000;
}
.main__code {
    background-color: #CCCCCC;
    color: #0001F8;
    margin-top: 20px;
    padding: 5px;
    line-height: 2.3;
}